* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

img {
  width: 600px;
  vertical-align: top;
}

.description {
  width: 600px;
  margin-top: 10px;
  padding: 10px;
  position: absolute;
  width: 600px;
  left: 0;
  border: 1px solid #666;
  background: rgb(200, 239, 255);
  display: none;
}

img:hover ~ .description {
  display: block;
}

p {
  margin-bottom: 20px;
}

.main {
  padding: 11px;
  border: 1px solid #666;
  position: relative;
  width: 600px;
  margin: 0 auto;
}

h3 {
  margin: 15px 0;
}
